/*.bar7 {background: #7BA7AB;}*/
div.search {
    margin-top: 7px;
    position: fixed;
    left:900px;
    width: 300px;           
    }
.bar form {
    height: 42px;
    float:right;
}
.bar input {
    width: 250px;
    border-radius: 42px;
    border: 2px solid rgb(189, 81, 81);
    background: rgb(255, 255, 255);
    transition: .3s linear;
    float: right;
  padding-left: 13px;
}
.bar input:focus {
    width: 300px;
  outline: none;
}
.bar button {
    background: none;
    top: -2px;
    right: 0;
}
.bar button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: rgb(189, 81, 81);
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
button {
  border: none;
  outline: none;
}
/*input, button {
    border: none;
    outline: none;
}

*/
#searchBtn {
    height: 36px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    background: none;
}

